@page "/counter"

<PageTitle>Counter</PageTitle>

<PageNameComponent Value="Counter" />

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary btn-counter" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
