<h3>List Of Counters</h3>

<ul>
    <li><a href="/counter">Count By 1</a></li>
    @for (int i = 2; i < 11; i++)
    {
        <li><a href="counter/IncrementBy/@i">Count By @i</a></li>
    }
</ul>

@code {

}
